<div class="row-fluid expand home-search-row">
    <div class="span12 home-search">
        <form action="/search" method="post">
            <input name="ss" type="text" class="span5 search-entry-input"  placeholder="enter search terms..." />
            <input type="submit" value="Search" class="btn span1" />
        </form>
        <span><b>Search for Items, Courses, or Users.</b> Quick Search: Prepend <b>i</b> to an ItemID or <b>c</b> to a CourseID to go directly to the record, e.g <b>i</b>7519 or <b>c</b>7526</span>
    </div><!-- /.home.search -->
</div><!-- /.row-fluid -->